<%- content_for(:title){"Get readmes from Github"} %>

<a href="https://github.com/nitanilla/corpus-retrieval"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

<div class="container">
<hgroup class="big-title">
	<h1>Corpus Retrieval</h1>
	<h2>of GitHub</h2>
</hgroup>

<%= form_tag search_results_path do |f| %>
  <p class="error" style="color: red;"><%= flash[:error] %></p>
  <div class="search">
     <div class="input-group">
	<input name="q" class="form-control" value="<%= params[:q] %>"></input>
	<div class="input-group-append">
		<input class="btn btn-outline-dark" type="submit" value="Search"></input>
	</div>
     </div>
  </div>
  <fieldset class="types">
    <input type="radio" name="type" value="readmes">Readmes</input>
    <input type="radio" name="type" value="descriptions">Descriptions</input> 
    <input type="radio" name="type" value="issues">Issues</input>
  </fieldset>
  <div align="center">
    <div class="card border-success" style="max-width: 31rem;">
	<div class="help">
		<p>You can perform a phrase query using quotes. Ex. <span class="search-sample">"real estate"</span></p>
		<p>You also can refine issue queries using the label modifier. Ex. <span class="search-sample">"real estate" label:bug</span></p>
	</div>
    </div>
  </div>
<% end %>

<div id="results-sets-container">
  <h2>Readmes of another queries</h2>
  <ul class="results-sets">
    <%- @results.each do |result| %>
      <li class="results-set">
	 <div class="card border-dark" style="border-width: 3px;">
           <div class="results">       
	 	<p class="query"><%= result.query %> (<%= result.type %>)</p>
       	 	<p><%= result.created_at.to_formatted_s(:short) %></p>
		<% if result.finished? %>
		    <div class="link">
		        <p><%= link_to "Download", result_download_path(result) %></p>
		    </div>
         	<% else %>
          		<p>(<%= result.status_name.capitalize %>)</p>
	 	<% end %>
           </div>
        </div>
      </li>
    <%- end %>
  </ul>
</div>
</div>
